{% extends 'base.html.twig' %}

{% block title %}Hello Jhack !{% endblock %}

{% block body %}
    <div id="main-content-jhack">
        <div class="content">
            <div class="text-jhack">
                <h1 id="title-jhack">Tu t’es fait avoir !</h1>
                <div id="text-content-jhack">
                    <p>Mais pas de panique, le pirate, c’est <b>Jhack Chirac</b> !</p>
                    <p>Notre communauté a créé et lancé cette campagne de phishing, afin de sensibiliser les partners à la sécurité informatique.</p>
                    <p>Les choses importantes à savoir :</p>
                    <ul>
                        <li>1. <b>N’en parle à personne</b> ! Il est essentiel de rester dans la confidence sinon notre plan tombe à l’eau et les résultats seront faussés.</li>
                        <li>2. <b>Tes identifiants et mot de passe n’ont pas été enregistrés (promis)</b> : pas besoin de les réinitialiser.</li>
                        <li>3. <b>Un membre de la communauté reviendra vers toi</b> très rapidement sur Slack !</li>
                        <li>4. Ton gage pour la semaine est d’<b>utiliser le plus possible l’emoji Jhack Chirac</b> sur Slack :)</li>
                    </ul>
                    <p>Signé Jhack.</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        let link = document.querySelector("link[rel~='icon']");
        if (!link) {
            link = document.createElement('link');
            link.rel = 'icon';
            document.getElementsByTagName('head')[0].appendChild(link);
        }
        link.href = "{{ asset('img/jhack_chirac.png') }}";
    </script>
{% endblock %}
