{% extends 'base.html.twig' %}

{% block title %}LVConnect{% endblock %}

{% block body %}
    <div class="sc-1vx6tss-0 jtZbxV">
        <div class="sc-1puxqkp-0 gvGCwh">
            <img src="{{ asset('img/logo-lv.svg') }}" alt="Logo LinkValue" class="sc-1puxqkp-1 iFvYur"/>
            <a href="{{ path('app_form_login') }}" class="sc-1eufgsn-0-a sc-1eufgsn-1 eUERYN">
                <span class="ykmpbl-0 fWltSq">Login</span>
            </a>
        </div>
    </div>
{% endblock %}
